.dyvix-toast-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: fixed;
  width: auto;
  z-index: 1000;
  height: auto;
}
.dyvix-toast {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 10px;
  width: 20rem;
  min-height: 4.5rem;
  max-height: fit-content;
  height: auto;
  border-radius: 1.5rem;
  align-items: center;
}
.dyvix-toast-error {
  background-color: #fcbec6;
}
.dyvix-toast-success {
  background-color: #a8fcb4;
}
.dyvix-toast-title
{
  width: 90%;
}
.dyvix-toast-content
{
  width: 85%;
}
.dyvix-toast-icon
{
  border: #1df13c 2px solid;
  border-radius: 50%;
}
.toast-error
{
  color: #ff3366;
}
.toast-success
{
  color: #1df13c;
}
/* move to positions.css ? */
.dyvix-top-right {
  top: 1rem;
  right: 1rem;
}
.dyvix-top-left {
  top: 1rem;
  left: 1rem;
}
.dyvix-bottom-right {
  bottom: 1rem;
  right: 1rem;
}
.dyvix-bottom-left {
  bottom: 1rem;
  left: 1rem;
}
.dyvix-top-center {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.dyvix-bottom-center {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}